.control-panel {
    width: 900px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    border-bottom: 1px solid gray;
    padding: 0 20px;
}

.control-panel * {
    /* height: 40px; */
    border: 1px solid black;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.canvas {
    margin: auto;    

}

.canvas-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.a-save {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
}


.save {
    display: flex;
    align-items: center;justify-content: center;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 0.25rem;
    background-color: #007bff;
    font-family: sans-serif;
    color:white;
    border:none;

}